header{
    margin-top: 8%;
    margin-bottom: 8%;
    color:teal;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: dimgray;
    text-align:justify;
    font-size: 0.4cm;
    margin-left:5%;
    margin-right: 5%;
}
body{
    background-color: white;
}
img {
    width: 90%;
    height: 85%;
    border-radius: 0.5%;
}
h2{
    color: dimgray;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.TextoCentrado{
    color: dimgray;
    text-align: center;
    font-size: 0.5cm;
    margin-bottom: 10%;
}
.TextoInicio::selection{
    color:lightgreen;
}
/*
button{
    background-color:lightskyblue;
    font-family: 'Times New Roman', Times, serif;
    border: oldlace;
    align-items: center;
    width: 200px;
    height: 50px;
}
button:hover{
    background-color: cornflowerblue;
}*/
.Centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mosaic {
    margin-left:10%;
    margin-right:8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajusta el número de imágenes por fila */
    gap: 8px; /* Espacio entre imágenes */
}
.ImagenHistoria{
    margin-left: 5%;
    margin-right: 2%;
    filter: drop-shadow( 0 0 3px lightskyblue);
    width: 35%;
    float: left;
}
.ImagenHabitaciones{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 30%;
    height: 30%;
}
.imagentarjeta{
    width: 286px;
    height: 210px;
}
.Contenedor {
    width: 100%;
    height: 100%;
    /**border: 1px solid blue;**/
    display: flex;
    align-items: flex-start;
}
@media screen and (max-width:640px){
    .container2{
        display: flex;
        flex-direction: column;
    }
    .ImagenHabitaciones{
        width: 100%;
    }
    .ImagenHistoria{
        width: 100%;
        margin: 0;
        float: none;
    }
    .About{
        margin: 0 4%;
    }
    .About p{
        margin: 0;
        margin-top: 4%;
    }
    #ContenedorTarjetas{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-size: 1.2rem;
    }
    h6{
        font-size: 0.8rem;
    }
    .TextoCentrado{
        font-size: 1.1rem;
    }
    .navbar-toggler:hover{
        background-color:rgb(64, 139, 139);
    }
}