$colorp: dimgray;
p{
    color: $colorp;
    text-align: center;
    font-size: 0.5cm;
    margin: 0% 5% 7% 5%;
}
p::selection{
    background-color: grey;
    color: white;
}
section{
    div{
        p{
            color: $colorp;
            text-align: justify;
            font-size: 0.5cm;
            margin: 0% 5% 7% 5%;
        }
    }
    img {
        width: 90%;
        height: 85%;
        border-radius: 0.5%;
    }
}

footer{
    background-color: #f1f1f1;
}
.mosaic{
    margin-left: 10%;
    margin-right: 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}
@media screen and (max-width: 640px) {
    p{
        font-size: 1rem;
    }
    section >div>p{
        font-size: 0.9em;
    }
    
}